@model IEnumerable<DataStorageModels.Routine>
@{
    ViewBag.Title = "Complete my Routines";
}

@Html.Action("GroupMemberList", "GroupMemberList")
@if (ViewBag.HasRoutines != null)
{
    if (!ViewBag.HasRoutines)
    {
        <div class="col-md-10">
            <h2>
                You do not have any routines.
                @Html.ActionLink("Create New", "Create")
            </h2>
        </div>
        
    }
}
else
{
    switch (Model.Count())
    {
        case 0:
            // User has no routines or has completed all of their routines for this day
            <h2>Congratulations, you completed all your Routines!</h2>
            break;
        default:
            // User has more than one incomplete routine for the day
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.ActionLink("Complete", "Complete", new { id = item.Name })
                        </td>
                    </tr>
                }
            </table>
            break;
    }
}
