@model DataStorageModels.Performance
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
<h4>@Html.ActionLink("Manage Performances", "Performances", "Performance") &nbsp;|&nbsp; @Html.ActionLink("Edit Performances", "EditablePerformances", new { SelectedId = Model.UserID_client })</h4>

@using (Html.BeginForm("AddNewPerformance", "Performance", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal" style="display:inline-block">
        <h4>Performance</h4>
        <hr />
        @Html.HiddenFor(model => model.UserID_client, Model.UserID_client)
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.PerformanceName, htmlAttributes: new { @class = "control-label col-md-2", @style = "width: 37.5%; text - align: left" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PerformanceName, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                @Html.ValidationMessageFor(model => model.PerformanceName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" >
            @Html.LabelFor(model => model.PerformanceDescription, htmlAttributes: new { @class = "control-label col-md-2", @style = "width: 47%; text - align: left" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PerformanceDescription, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                @Html.ValidationMessageFor(model => model.PerformanceDescription, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Cancel", "Index", "Home")
</div>
