@model DataStorageModels.Award

@{
    ViewBag.Title = "Create";
}

<h2>Create Award</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal" style="display: inline-block;">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.AwardName, htmlAttributes: new { @class = "control-label col-md-2", @style = "width: 50%; text-align: left" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AwardName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AwardName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AwardDescription, htmlAttributes: new { @class = "control-label col-md-2", @style = "width: 50%; text-align: left" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AwardDescription, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AwardDescription, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Awards")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
